html{
  background-color: $darkGrey;
}

body{
  border-left: 1px solid $veryDarkGrey;
  border-right: 1px solid $veryDarkGrey;
  padding: 0;
}

#content {
  table {

    p {
      display: block;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }

    p.bodytext {
      background-color: $whiteColor;
      padding-left: 20px;
    }

    p.mainbodytext {
      background-color: $whiteColor;
      padding: 20px;
    }

    h2 {
      color: black;
      background-color: $whiteColor;
      font-family: $font;
      font-weight: 400;
      font-size: 1.6em;
      letter-spacing: -.025em;
      line-height: 1.6em;
      margin: 0 0 0 0;
      padding-left: 1em;
      padding-top: 0.5em;
    }

    ul.tabbedtable {
      background-color: $whiteColor;
    }

    li {
      margin: 1em;
      font-family: $listFont;
      font-size: 16px;
      line-height: 1.6;
      list-style-image: url(../../img/list-link-bullet.png);
      margin-bottom: 1em;
    }

    tr:nth-child(2) {
      td:nth-child(2) {
        background-color: $whiteColor;

        a {
          float: left;
          padding: 1em;
          margin-top: 1em;
        }
      }
    }
    tr:nth-child(3) {
      td:nth-child(2) {
        div:first-of-type {
          table:first-of-type {
            tbody:first-of-type {
              tr:first-of-type {
                td:first-of-type {
                  ul:first-of-type {
                    li:first-of-type {
                      a {
                        color: #FFF !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    tr:nth-child(4) {
      td:last-of-type {
        background-color: $whiteColor;
      }
    }
    tbody {
      tr:nth-child(3) {
        td:first-child {
          background-color: $whiteColor;
        }
      }
      tr:last-child {
        td:first-child {
          table:first-child {
            tbody:first-child {
              tr:first-child {
                td {
                  background-color: $whiteColor;
                }
              }
            }
          }
        }
      }
    }
  }

  #a-z-menu{
    li{
      background-color: $teal;
      border-radius: 50%;
      color: #FEFEFE !important;
      display: inline-block;
      font-size: 1.25em;
      margin: 0 4px 4px 0;
      width: 40px;
      height: auto;
      line-height: 40px;
      text-align: center;
    }
    li:hover{
      background-color: $yellow;
      color: black;
      cursor: pointer;
    }
    li a:hover{
      color: black;
      text-decoration: none;
    }
    a{
      color: $whiteColor;
    }
  }

  a:active, a:link, a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

ul {
  .mainbodytext {
    background-color: $whiteColor;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}