body{
  background-color: $greyBackground;

}

#content {
  table {
    //background-color: $greyBackground;
    border: 1px solid $greyBackground;

    .khakibackground{
      display: none;
    }

    #breadcrumb {
      //background-color: $greyBackground;
      font-size: .9em;
      font-family: "Open Sans", arial, sans-serif;
      margin: 1em 0;
      text-decoration: none;
      //color: $blue;
      text-decoration: none;
    }

    h1 {
      background: url("../../img/dot-grey.png") $whiteColor;
      font-family: $font;
      font-weight: 400;
      line-height: 1.6em;
      font-size: 36px;
      padding-left: .5em;
    }

    p {
      display: block;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
    }

    p.bodytext {
      background-color: $whiteColor;
      padding-left: 20px;
    }

    p.mainbodytext {
      background-color: $whiteColor;
      padding: 20px;
    }

    h2 {
      color: black;
      background-color: $whiteColor;
      font-family: $font;
      font-weight: 400;
      font-size: 1.6em;
      letter-spacing: -.025em;
      line-height: 1.6em;
      margin: 0 0 0 0;
      padding-left: 1em;
      padding-top: 0.5em;
    }

    ul.tabbedtable {
      background-color: $whiteColor;
    }

    li {
      //FOR LANDING PAGE
      display: inline;
      //END
      margin: 1em;
      font-family: $listFont;
      font-size: 16px;
      line-height: 1.6;
      list-style-image: url(../1994-child-page_files/list-link-bullet.png);
      margin-bottom: 1em;
      //margin: 0 0 .75em;
      //FOR LANDING PAGE
      margin: 1em;
      //END
    }

    tbody {
       //FOR LANDING PAGE
       tr:nth-child(2) {
        display: none;
      }
      //END

      tr:nth-child(2) {
        td:nth-child(2) {
          background-color: $whiteColor;

          a {
            float: left;
            padding: 1em;
            margin-top: 1em;
          }
        }
      }
      tr:nth-child(3) {
        td:nth-child(2) {
          div:first-of-type {
            table:first-of-type {
              tbody:first-of-type {
                tr:first-of-type {
                  td:first-of-type {
                    ul:first-of-type {
                      li:first-of-type {
                        a {
                          color: #FFF !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      tr:nth-child(4) {
        td:last-of-type {
          background-color: $whiteColor;
          //FOR LANDING PAGE
          background-color: $greyBackground;
          //END
        }
        //FOR LANDING PAGE
        td:nth-child(2){
          h2:last-of-type{
            padding-top: 0.5em;
            margin-top: 1em;
          }
        }
        //END
      }
      tbody {
        tr:nth-child(3) {
          td:first-child {
            background-color: $whiteColor;
          }
        }
        tr:last-child {
          td:first-child {
            table:first-child {
              tbody:first-child {
                tr:first-child {
                  td {
                    background-color: $whiteColor;
                  }
                }
              }
            }
          }
        }
      }
    }

    #a-z-menu{
      li{
        background-color: $teal;
        border-radius: 50%;
        color: #FEFEFE !important;
        display: inline-block;
        font-size: 1.25em;
        margin: 0 4px 4px 0;
        width: 40px;
        height: auto;
        line-height: 40px;
        text-align: center;
      }
      li:hover{
        background-color: $yellow;
        color: black;
        cursor: pointer;
      }
      li a:hover{
        color: black;
        text-decoration: none;
      }
      a{
        color: $whiteColor;
      }
    }

    a:active, a:link, a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

    .ghost-button {
      background-color: $teal;
      color: $whiteColor !important;
      padding: 1em;
      margin-left: 2.3em;
      margin-top: 1em;
      -o-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -webkit-transition: .5s;
      transition: .5s;
      width: auto;
    }

  }

  .tabline {
    ul {
      background-color: $whiteColor;
      .tab {
        background-color: $whiteColor;
        display: inline-block;
        margin-top: 1em;
        padding: .5em 0;
        text-align: center;
        width: 46%;
      }
    }
  }

  ul {
    .mainbodytext {
      background-color: $whiteColor;
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }