table {
    background-color: #eee;
}

td {
    background-color: #eee;
}

h1 {
    font-family: "Bitter", "Open Sans", arial, serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 36px;
}

h2 {
    color: black;
    background-color: white;
    font-family: "Bitter", "Open Sans", arial, serif;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: -.025em;
    line-height: 1.6em;
    margin: 0;
    padding-left: 1em;
    padding-top: 0.5em;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#breadcrumb, .breadcrumbs{
    background-color: #eee;
    font-size: .9em;
    font-family: "Open Sans",arial,sans-serif;
    margin: 1em 0;
    text-decoration: none;
}

.breadcrumbs{
    color: #2A5DB0;
    text-decoration: none;
}

p.mainbodytext {
    background-color: white;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    padding: 20px;
}

ul.mainbodytext {
    background-color: white;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    font-family: "Open Sans", arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    list-style-image: url(../landing_files/list-link-bullet.png);
    margin-bottom: 1em;
    margin: 0 0 .75em;
}

a:active, a:link, a:visited {
    color: #2A5DB0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    background-image: url("../landing_files/img2.jpg");
    color: white;
    height: 288px;
    padding-left: 4px;
}

.mainbodytext {
	margin: 0 0 0 0;
}

ul.mainbodytext li{
	display: inline;
	margin: 1em;
}

.khakibackground{
	display: none;
}

tbody:first-of-type tr:nth-child(2) td:nth-child(2) tbody > tr > td > img {
	display: none;
}

tbody:first-of-type tr:nth-child(4) td:nth-child(2) > h2:last-of-type{
	padding-top: 0.5em;
	margin-top: 1em;
}

h1{
	background-color: #fff;
	background-image: url(../img/dot-grey.png);
	margin: 0;
	padding-left: 0.5em;
	padding-top: 0.5em;
}





/*CHILD PAGE CSS*/

.entry-content {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,.66);
    color: #ddd;
    width: 100%;
    padding: 1em .2em;
}
table {
    background-color: #eee;
}

/*h1 {
    color: #fff;
    font-family: "Bitter", "Open Sans", arial, serif;
    font-weight: 400;
    height: 288px;
    line-height: 1.6em;
    font-size: 36px;
    padding-left: 20px;
    text-shadow: 1px 1px 2px #555;
}*/

h2 {
    color: black;
    background-color: white;
    font-family: "Bitter", "Open Sans", arial, serif;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: -.025em;
    line-height: 1.6em;
    margin: 0 0 0 0;
    padding-left: 20px;
}

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

p.bodytext {
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
}

#breadcrumb, .breadcrumbs{
    background-color: #eee;
    font-size: .9em;
    font-family: "Open Sans",arial,sans-serif;
    margin: 1em 0;
    text-decoration: none;
}

.breadcrumbs{
    color: #2A5DB0;
    text-decoration: none;
}

.tab {
    background-color: #fff;
    display: inline-block;
    margin-top: 1em;
    padding: .5em 0;
    text-align: center;
    width: 49%;
}

.tabline ul {
    background-color: #fff;
}

ul.mainbodytext {
    background-color: white;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.tabbedtable {
    background-color: white;
}

li {
    font-family: "Open Sans", arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    list-style-image: url(../img/list-link-bullet.png);
    margin-bottom: 1em;
    margin: 0 0 .75em;
}

a:active, a:link, a:visited {
    color: #2A5DB0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*.header {
    color: white;
    height: 288px;
    padding-left: 4px;
}*/

/*tbody tr:nth-child(4n) > td:last-of-type {
    background-color: #fff;
}
*/
/*tbody tr:nth-child(2) td:nth-child(2) table tbody tr:first-child > td {
    background-image: url("../1994-child-page_files/img2.jpg");
}*/

body tbody:first-child tbody:first-child tr:nth-child(3) > td:first-child {
    background-color: #fff;
}

body tbody:first-child tbody:first-child tbody:first-child tbody:first-child tr:first-child > td:first-child {
    background-color: #fff;
}

body tbody:first-child tbody:first-child tr:last-child td:first-child table:first-child tbody:first-child tr:first-child > td {
    background-color: white;
}

td.tabbody {
    background-color: #fff;
}